{% extends parent_template|default:"user/base_user.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% block body %}

  <div class="contianer">

  <div class="row">
 <div><br></div>
    <div class='col-sm-4 '>
      <div class="center">
        <p class="lead">Reset your password by email.</p>
      </div>
      <form
          action="{% url 'dj-auth:pw_reset_start' %}"
          method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">
          Send Me Reset Instructions</button>
      </form>
  </div>
  </div></div>
{% endblock %}
