{% extends parent_template|default:"user/base_user.html" %}
{% load crispy_forms_tags %}


{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% block body %}
 <div class="container">
  <div class='row'>
    <div class='col-sm-4'>

      {% if validlink %}
        <p>Enter a new password below.</p>
        <form
            action="{{ request.path }}"
            method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button
              class="button-primary"
              type="submit">
            Save New Password</button>
        </form>
      {% else %}
        <p>This reset link is no longer valid.</p>
        <p>Please request a new reset email
          <a href="{% url 'dj-auth:pw_reset_start' %}">
            here</a>.</p>
      {% endif %}
  </div>
  </div>
   </div>
{% endblock %}
