{% extends parent_template|default:"user/base_user.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} - Update Profile
{% endblock %}


{% block body %}
  <div class="container">
  <div class='row-content'>
    <div class='col-sm-4 '>
      <form
          action="{{ profile.get_update_url }}"
          method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">
          Update Profile</button>
      </form>
    </div>
  </div>
    </div>
{% endblock %}
