{% extends parent_template|default:"member/base_member.html" %}

{% block body %}

 {% if perms.member.change_constitution %}

        <div class="page-header">
            <a class="btn btn-primary pull-right" href="{% url 'member:cons-create' %}"><i class="icon-plus icon-white"></i> Add Constitution</a>
            <h1>Constitution</h1>
    </div>
{% endif %}

    <div class="container-fluid">
        <div class="row">


        <div class="col-sm-8 col-md-9">



            {% if documents %}

                    {% for document in documents %}
                        <p>{{document.title}}</p>
                        <p>{{document.content}}</p>

                       {% if document.docfile %}
                       <a href="{{ document.docfile.url }}">{{ document.docfile.name}}</a>
                        {% endif %}

                         {% if perms.member.change_constitution %}
                        <a href="{% url 'member:cons-update' document.id%}">
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>Update
                            </button>
                        </a>
                        {% endif %}

                        <a href="{% url 'member:cons-delete' document.id%}">
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash">Delete</span>
                        </button>
                        </a>
                    {% endfor %}

            {% else %}
                <p>No documents.</p>
            {% endif %}


        </div>
    </div>
    </div>
{% endblock %}




