{% extends parent_template|default:"member/base_member.html" %}
{% load staticfiles %}

{% block content %}
    <h2>Members</h2>

    <div style="padding:40px;margin:40px;border:1px solid #ccc">
    <h1>picture</h1>
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_ul}}
        <input type="submit" value="Upload" />
    </form>
    {% for img in images %}
         <li>{{ img.name }}</li>
        {{forloop.counter}}.<a href="{{ img.photo.url }}">{{ img.photo.name }}</a>
        <!--({{img.upload_date}})<hr />-->
         <li>{{ img.category}}</li>
    {% endfor %}
    </div>

    <!--<ul>-->
        <!--{% for person in object_list %}-->
            <!--<li>{{ person.name }}</li>-->
        <!--<a href="{% url 'member:person_list'  %}">-->
            <!--<img src="{{ person.photo.url }}" alt="{{ person.name }}" />-->
        <!--</a>-->

        <!--<li>{{ person.category }}</li>-->

        <!--{% endfor %}-->
    <!--</ul>-->
{% endblock %}


